/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2014, 7:48:27 PM
    Author     : bohyun
*/

body {
    background-image: url("HealthFitness.png");
    background-repeat:repeat;
    background-position:center;
}