/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2014, 6:38:01 PM
    Author     : bohyun
*/

section.h1,h2,h3,h4,h5,h6{
    font-size:200%;
    font-family:impact;
    color:hotpink;
    font-style: oblique;
}
p{
    font-size:150%;
    font-family:Tahoma;  
    color:gold;
}
p.ul{
    font-size:150%;
    font-family:Tahoma;   
    color:gold;
}
body {  
    background-image: url("Health-and-Fitness-Class-Guide.jpg");
}