/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2014, 7:25:38 PM
    Author     : bohyun
*/

section.h1,h2,h3,h4,h5,h6,h7{
    font-size:200%;
    font-family:Lucida Console;
    color:lightcoral;
    font-style: italic;
}
p{
    font-size:150%;
    font-family:Verdana;  
    color:lightsalmon;
}
body {  
    background-image: url("HealthFirst_Pro-HealthFitness_Portfolio_Silos_2.png");
}