/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2014, 7:48:06 PM
    Author     : bohyun
*/

body {  
    background-image: url("HEALTH-AND-FITNESS-logo1.jpg");
}
section.h1,h2,h3,h4,h5,h6{
    font-size:200%;
    font-family:monospace;
    color:springgreen;
}
p{
    font-size:150%;
    color:purple;
}
