/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2014, 6:23:14 PM
    Author     : bohyun
*/
body {  
    background-image: url("Holistic-Approach-to-Health-and-Fitness.jpg");
}
p{
    font-size:150%;
    color:chartreuse;
}
li{
    color:orangered;   
}
