/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2014, 5:47:22 PM
    Author     : bohyun
*/

body {
    background-image: url("Capture.PNG");
    background-repeat:repeat-y;
    background-position:right;
}
ul{
    color:red;
    list-style-type:circle;
}
p.main{
    text-align:justify;
    text-indent:100px;
}
h1,h2{
    text-shadow:2px 2px;
}