/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2014, 5:42:27 PM
    Author     : bohyun
*/


body {
    background-image: url("HealthFitness.png");
    background-repeat:repeat;
    background-position:center;
}
h1,h2 {
    text-align: center;
    color:slateblue;
}
ul.uppercase{
    text-transform: capitalize;
}
p{
    font-size:150%;
}

img {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
